---
title: 'Apoio'
weight: 60
header_menu: true
---

<style type="text/css">
        .tg  {border:none;border-collapse:collapse;border-spacing:0;}
        .tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
          padding:10px 5px;word-break:normal;}
        .tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
          overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-9wq8{border-color:inherit;text-align:center;vertical-align:middle}
        .tg .tg-nrix{text-align:center;vertical-align:middle}
        </style>
        <table class="tg">
        <thead>
          <tr>
            <th class="tg-nrix"> <img src="logo/ufsc.png" alt="Universidade Federal de Santa Catarina" width=150px> </th>
            <th class="tg-9wq8"> <img src="logo/ctc.png" alt="Centro Tecnológico - UFSC" width=150px> </th>
            <th class="tg-9wq8"> <img src="logo/cfm.jpg" alt="Centro de Física e Matemática - UFSC" width=150px> </th>
          </tr>
        </thead>
        </table>

<style type="text/css">
        .tg  {border:none;border-collapse:collapse;border-spacing:0;}
        .tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
          padding:10px 5px;word-break:normal;}
        .tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
          overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-9wq8{border-color:inherit;text-align:center;vertical-align:middle}
        .tg .tg-nrix{text-align:center;vertical-align:middle}
        </style>
        <table class="tg">
        <thead>
          <tr>
            <th class="tg-nrix"> <img src="logo/ine.png" alt="Departamento de Informática e Estatística - UFSC" width=150px> </th>
            <th class="tg-9wq8"> <img src="logo/ppgfsc.png" alt="Programa de Pós-Graduação em Física - UFSC" width=150px> </th>
            <th class="tg-9wq8"> <img src="logo/quanby.png" alt="https://www.quanby.com.br" width=150px> </th>
          </tr>
        </thead>
        </table>

        <style type="text/css">
          .tg  {border:none;border-collapse:collapse;border-spacing:0;}
          .tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
            padding:10px 5px;word-break:normal;}
          .tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
            overflow:hidden;padding:10px 5px;word-break:normal;}
          .tg .tg-9wq8{border-color:inherit;text-align:center;vertical-align:middle}
          .tg .tg-nrix{text-align:center;vertical-align:middle}
          </style>
          <table class="tg">
          <thead>
            <tr>
              <th class="tg-nrix"> <img src="logo/saidopapel.png" alt="Sai do Papel" width=150px> </th>
              <th class="tg-9wq8"> <img src="logo/shawee.png" alt="Shawee" width=150px> </th>
              <th class="tg-9wq8"> <img src="logo/qctrl.png" alt="Q-CTRL" width=150px> </th>
            </tr>
          </thead>
          </table>
          <style type="text/css">
            .tg  {border:none;border-collapse:collapse;border-spacing:0;}
            .tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
              padding:10px 5px;word-break:normal;}
            .tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
              overflow:hidden;padding:10px 5px;word-break:normal;}
            .tg .tg-9wq8{border-color:inherit;text-align:center;vertical-align:middle}
            .tg .tg-nrix{text-align:center;vertical-align:middle}
            </style>
            <table class="tg">
            <thead>
              <tr>
                <th class="tg-9wq8"> <img src="logo/ibm.png" alt="IBM" width=150px> </th>
              </tr>
            </thead>
            </table>