<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->

<style>
     /* Links */
     a:hover {
         color: #48adff;
     }

     /* Header Buttons on Startpage */
     a.btn {
         color: #ffffff;  /* Botão fonte */
          background-color: #0C4472;  /* Botão gb */
     }
     a.btn:hover {
          background-color: #1F6781; /* Botão gb select */
     }

     /* Scroll Menu on Startpage */
     a.fn-item.active {
          color: #0A192C; /* Menu lateral */
     }
     a.fn-item:hover {
          color: #0A192C; /* Select menu lateral */
     }

     /* Content / Sections */
     .post-holder.odd {
          background: #0C619E;
          color: #ffffff;
     }
     .post-holder {
          background: #ffffff;
     }
     body {
          color: #011627;
     }

     /* Footer */
     .site-footer {
          color: #000000;
          background-color: #ececec;
     }
     table {
          background: transparent;
     }

     .nav{
          background-color: #011627;
          margin: -20px auto;
          font-size: 18px;
          color: white;
     }

     @media screen and (max-width: 600px){
          .nav {
               font-size: 12px;
          }
     }
</style>

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">

<ul class="nav navbar-nav">
     {{ range .Site.Menus.main }}
          <a href="{{ .URL }}">{{ .Name }}</a>
     {{end}}
	{{ partial "allLanguages.html" . }}
</ul>
